// Owl Carousel 2
@import "owl.carousel/dist/assets/owl.carousel.min.css";
@import "owl.carousel/dist/assets/owl.theme.default.min.css";
// jQuery Magnific Popup
@import "magnific-popup/dist/magnific-popup.css";
// Slick-Carousel
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "animate.scss";
@import "responsive.scss";
@import "style.scss";

/**
* -----------------------------------------------------------------------------
* SELECTPICKER
* -----------------------------------------------------------------------------
*/
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #495057 !important;
    background-color: #ffffff !important;
}
.bootstrap-select > .btn-light {
    background-color: #fff !important;
    border: 1px solid #ced4da;
}

/**
* -----------------------------------------------------------------------------
* MESSAGE FEEDBACK
* -----------------------------------------------------------------------------
*/
.form .required::after {
    position: absolute;
    content: "\f069";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 6px;
    color: #bd362f;
    padding: 3px;
}
.has-error input,
.has-error textarea,
.has-error select,
.has-error [type="file"].custom-file-input + label,
.has-error .input-group-addon {
    border: 1px solid #bd362f !important;
}
.has-error .help-block {
    display: block;
    margin-top: 7px;
    color: #bd362f;
    font-size: 13px;
}
.has-error .help-block::before {
    position: relative;
    content: "\F00D";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #bd362f;
    padding-right: 8px;
}
.has-success .has-success input,
.has-success textarea,
.has-success select,
.has-success .custom-file-input,
.has-success .input-group-addon {
    border: 1px solid #6e8847 !important;
}
