// Owl Carousel 2
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';
// jQuery Magnific Popup
@import '~magnific-popup/dist/magnific-popup.css';
// Slick-Slider
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/**
* -----------------------------------------------------------------------------
* SELECTPICKER
* -----------------------------------------------------------------------------
*/
.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
	color: #495057 !important;
	background-color: #FFFFFF !important;
}
.bootstrap-select > .btn-light {
	background-color: #FFF !important;
	border: 1px solid #ced4da;
}
