.checkout{
	float:left;
	border: 2px solid #dad3c8;
	padding: 7px;
	border-radius: 6px;
	behavior: url(css/PIE.htc);
}
.checkout span{
	float: left;
	margin: 12px 25px 0 20px;
}
.checkout span.pink{
	margin:0;
	float:none;
	color: #5ab4de;
}
.checkout .btn.btn_checkout{
	width: 109px;
	height: 40px;
	float: right;
}

.list_table{
	max-width: 1170px;
	margin: 0 auto 49px;
	position: relative;
	width: 100%;
}
.list_table .braun{
	position: relative;
	background: url(../../img/bg_table_top.gif) repeat-x;
	height: 43px;
	text-align: center;
	color: #d2c3bd;
	font-size: 16px;
	line-height: 43px;
	text-shadow: 1px 1px 2px #392b27;
}
.list_table .braun span{
	background: url(../../img/separator2.gif) no-repeat 100% 0;
	display: block;
}
.list_table .braun.first{
	border-radius: 5px 0 0 0;
	behavior: url(css/PIE.htc);
	width: 60%;
}
.list_table .braun.last{
	border-radius: 0 5px 0 0;
	behavior: url(css/PIE.htc);
	width: 5%;
}
.list_table .braun.price,.list_table  .white.two{
	width: 10%;
}
.list_table .braun.qua,.list_table .white.three{
	width: 15%;
}
.list_table .braun.total,.list_table .white.four{
	width: 10%;
}
.list_table  .white.first{
	width: 58%;
	padding:10px 45px 10px 10px;
	border-left:1px solid #ece8e2;
	border-right:1px solid #ece8e2;
	border-bottom:1px solid #ece8e2;
}
.list_table  .white.two,.list_table .white.three,.list_table .white.four,.list_table .white.last{
	border-right:1px solid #ece8e2;
	border-bottom:1px solid #ece8e2;
	text-align: center;
}
.list_table  .white.two{text-align: center;}
.list_table td{vertical-align: middle;}
.list_table .white.last{width: 5%;}
.list_table  .white.first img {
	vertical-align: middle;
	margin: 0 20px 0 0;
	float: left;
}
.list_table  .white.first .description{
	overflow: hidden;
}
.list_table  .white.first h3 a {
	display: block;
	font-size: 18px;
	line-height: 22px;
	color: #5ab4de;
	margin: 10px 0 10px;
}
.list_table  .white.first p{
	font-size: 14px;
	line-height: 20px;
}
.list_table div.fancy-select{
	width: 77px;
}
.list_table div.fancy-select div.trigger{min-width: 35px;background-position: 80% 50%;}
.list_table div.fancy-select ul.options{min-width:  77px;}
.list_table .white.three .row,.list_table .white.last .row{display: inline-block;}
.btn-delete {
	width: 27px;
	height: 27px;
	background: url(../../img/btn_delete.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	display: block;
}
