
.form-newsletter {
	width: 520px;
	float: right;
	margin: 5px 0 0;
}
.form-newsletter input[type=text] {
	float: left;
	width: 400px;
	padding: 8px 15px 8px 53px;
	margin: 0 10px 0 0;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	border-top: 2px solid #d2c7b6;
	border-right: none;
	border-left: none;
	border-bottom: none;
	background: url(../../img/icon_input.png) no-repeat #fff 7px 9px;
	height: 40px;
	color: #978379;
	font-size: 14px;
	line-height: 22px;
	outline: none;
	position: relative;
}
.form-newsletter input[type=submit] {
	float: right;
	width: 109px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	display: block;
	border-radius: 5px;
	behavior: url(css/PIE.htc);
	font-size: 14px;
	float: right;
	background: #5ab4de;
	border: none;
	position: relative;
}
