

.item-product {
	border-radius:0;
	text-align: center;
	margin: 0 0 0 -35px;
	overflow: hidden;
}
.item-product li {
	margin: 0 -2px;
	padding: 0 0 35px 31px;
	display: inline-block;
}
.item-product .item {
	border-radius:5px;
	behavior: url(css/PIE.htc);
	border: 2px solid #dad3c8;
	padding: 8px 8px 11px 8px;
	text-align: center;
	width: 250px;
    position: relative;
    height: 248px;
}
.item-product li .image {
	border-radius:5px;
	behavior: url(css/PIE.htc);
	margin: 0 0 17px 0;
}
.item-product .item span.name {
	color: #97989a;
	font-size:18px;
	line-height:22px;
	display: block;
	margin: 0 0 10px;
}
.item-product .item span.name a {
	color: #97989a;
}
.item-product .item span {
	font-size: 24px;
	line-height: 28px;
	color: #f7c5cd;
	display: block;
}

.item {
	text-align: center;
	width: 226px;
}
.item .image {
	position: relative;
}
.item .image img {
	width: 100%;
    height: auto;
    max-height: 250px;
}
.item .hover {
	display: none;
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #97989a;
    opacity: 0.9;
    cursor: pointer;
}
.item .hover.active{
    display: block;
}

.main .item strong{
	display: block;
	color: #661c34;
	font-weight:bold;
	font-size: 24px;
	line-height: 26px;
	text-align: center;
}
.main .container .bottom-slider .item p{
	color: #fff;
	text-align: center;
	display: block;
	font-size: 16px;
	line-height: 18px;
	margin: 65px 0 -10px;
}
