/**
 * -----------------------------------------------------------------------------
 * MESSAGE FEEDBACK
 * -----------------------------------------------------------------------------
 */
.help-block {
	display: block;
	margin-top: 2px;
    color: #bd362f;
    font-size: 13px;
}
.has-error input,
.has-error textarea,
.has-error select {
    border: 1px solid #bd362f !important;
}
.has-error .input-group-addon {
    border: 1px solid #bd362f;
}
.has-success input,
.has-success textarea,
.has-success select {
    border: 1px solid #6E8847 !important;
}
.has-success .input-group-addon {
    border: 1px solid #6E8847;
}


/**
 * -----------------------------------------------------------------------------
 * ARCHITECT CUSTOM
 * -----------------------------------------------------------------------------
 */

.vertical-nav-menu i.metismenu-state-icon, .vertical-nav-menu i.metismenu-icon {
	font-size: 1rem;
}
// Tamanho da fonte dentro dos inputs
.form-control {
	font-size: 0.8rem !important;
}
// Corrigido estilo do SelectPicker
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
	color: #495057 !important;
}
.btn-light {
	background-color: #FFF !important;
	border: 1px solid #ced4da;
}
.btn {
	line-height: 1.8;
}
// Listas sem registros
.card-no-records {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    height: 10rem;
    justify-content: center;
    text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: .88rem;
}
// Mostra as cores na lista de cores
.swatch-holder-md {
    height: 30px;
    border-radius: 8px;
    opacity: 1;
}
.app-footer {
	padding-top: 65px;
}
.row-footer {
	padding: 20px;
}


/**
 * -----------------------------------------------------------------------------
 * PAGES
 * -----------------------------------------------------------------------------
 */

.card-body-product {
	height: 317px;
}
.product-box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 23px;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
